<p-panel [toggleable]="false" styleClass="custom-center-header">
    <ng-template #header>
        <div class="flex items-center">
            <span class="font-medium text-white">STAT</span>
        </div>
    </ng-template>
    <div class="flex gap-1">
        <div class="flex-1 font-medium text-center pl-1 pr-1 stat-bg">
            <div class="flex justify-content-between flex-wrap m-1">
                <div class="flex align-items-center justify-content-center  font-light text-white-alpha-80">Attack</div>
                <div class="flex align-items-center justify-content-center  font-light text-white-alpha-80">
                    <span class="m-1">340 </span>
                    <div class="flex flex-column   font-light text-white-alpha-80">
                        <p-button icon="pi pi-caret-up" [rounded]="false" [text]="true" size="small"
                            severity="secondary" />
                        <p-button icon="pi pi-caret-down" [rounded]="false" [text]="true" size="small"
                            severity="secondary" />
                    </div>
                </div>
            </div>
            <p-divider class="m-0 p-divider-bg" />
            <div class="flex justify-content-between flex-wrap m-1">
                <div class="flex align-items-center justify-content-center  font-light text-white-alpha-80">Defense
                </div>
                <div class="flex align-items-center justify-content-center  font-light text-white-alpha-80">
                    <span class="m-1">340 </span>
                    <div class="flex flex-column   font-light text-white-alpha-80">
                        <p-button icon="pi pi-caret-up" [rounded]="false" [text]="true" size="small"
                            severity="secondary" />
                        <p-button icon="pi pi-caret-down" [rounded]="false" [text]="true" size="small"
                            severity="secondary" />
                    </div>
                </div>
            </div>
            <p-divider class="m-0 p-divider-bg" />
            <div class="flex justify-content-between flex-wrap m-1">
                <div class="flex align-items-center justify-content-center  font-light text-white-alpha-80">Evasion
                </div>
                <div class="flex align-items-center justify-content-center  font-light text-white-alpha-80">
                    <span class="m-1">340 </span>
                    <div class="flex flex-column   font-light text-white-alpha-80">
                        <p-button icon="pi pi-caret-up" [rounded]="false" [text]="true" size="small"
                            severity="secondary" />
                        <p-button icon="pi pi-caret-down" [rounded]="false" [text]="true" size="small"
                            severity="secondary" />
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-1 font-medium text-center stat-bg">
            <div class="flex justify-content-between flex-wrap m-1">
                <div class="flex align-items-center justify-content-center  font-light text-white-alpha-80">Fuel</div>
                <div class="flex align-items-center justify-content-center  font-light text-white-alpha-80">
                    <span class="m-1">340 </span>
                    <div class="flex flex-column   font-light text-white-alpha-80">
                        <p-button icon="pi pi-caret-up" [rounded]="false" [text]="true" size="small"
                            severity="secondary" />
                        <p-button icon="pi pi-caret-down" [rounded]="false" [text]="true" size="small"
                            severity="secondary" />
                    </div>
                </div>
            </div>
            <p-divider class="m-0 p-divider-bg" />
            <div class="flex justify-content-between flex-wrap m-1">
                <div class="flex align-items-center justify-content-center  font-light text-white-alpha-80">Spirit</div>
                <div class="flex align-items-center justify-content-center  font-light text-white-alpha-80">
                    <span class="m-1">340 </span>
                    <div class="flex flex-column   font-light text-white-alpha-80">
                        <p-button icon="pi pi-caret-up" [rounded]="false" [text]="true" size="small"
                            severity="secondary" />
                        <p-button icon="pi pi-caret-down" [rounded]="false" [text]="true" size="small"
                            severity="secondary" />
                    </div>

                </div>
            </div>
            <p-divider class="m-0 p-divider-bg" />
            <div class="flex justify-content-between flex-wrap m-1">
                <div class="flex align-items-center justify-content-center  font-light text-white-alpha-80">Shield</div>
                <div class="flex align-items-center justify-content-center  font-light text-white-alpha-80">
                    <span class="m-1">340 </span>
                    <div class="flex flex-column   font-light text-white-alpha-80">
                        <p-button styleClass="stat-modifier-class" icon="pi pi-caret-up" [rounded]="false" [text]="true"
                            size="small" severity="secondary" />
                        <p-button styleClass="stat-modifier-class" icon="pi pi-caret-down" [rounded]="false"
                            [text]="true" size="small" severity="secondary" />
                    </div>
                </div>
            </div>
        </div>

    </div>
    <ng-template class="m-0" #footer>
        <div class="flex justify-content-end">
            <span class="font-light text-white-alpha-80">Unused Points: 35</span>
        </div>
    </ng-template>
</p-panel>