<div class="flex-column gap-2">
    <div class="grid">
        <div class="col-12">
           <app-stat-gear></app-stat-gear>
        </div>
        <div class="col-12">
            <app-attack-gear></app-attack-gear>
        </div>
        <div class="col-6">
            <app-defense-section></app-defense-section>
        </div>
        <div class="col-6">
            <app-evasion-section></app-evasion-section>
        </div>
        <div class="col-12">
            <app-capacity-section></app-capacity-section>
        </div>
    </div>
</div>