<div class="flex flex-column xl:flex-row gap-2 justify-content-center">
    <div class="flex">
        <app-advance-fixes titulo="Prefix" type="prefix" config="prefix config" selectionLimit="1" class="w-full"></app-advance-fixes>
    </div>
     <div class="flex">
        <app-advance-fixes titulo="Weapon" type="weapon" config="weapon config" selectionLimit="1" class="w-full"></app-advance-fixes>
    </div>
    <div class="flex">
        <app-advance-fixes titulo="Suffix" type="suffix" config="suffix config" selectionLimit="1" class="w-full"></app-advance-fixes>
    </div>
</div>


