<p-panel [toggleable]="false" styleClass="custom-center-header">
    <ng-template #header>
        <div class="flex items-center">
            <span class="font-medium text-white">CAPACITY</span>
        </div>
    </ng-template>
    <div class="flex gap-1">
        <div class="flex-1 font-medium text-center pl-1 pr-1 stat-bg">
            <div class="flex justify-content-between flex-wrap m-1">
                <div class="flex align-items-center justify-content-center  font-light text-white-alpha-80">Weight/Max
                </div>
                <div class="flex align-items-center justify-content-center  font-light text-white-alpha-80">
                    <span class="m-1">Weight: 74%(1911kg/2580kg)</span>
                </div>
            </div>
            <p-divider class="m-0 p-divider-bg" />
            <div class="flex justify-content-between flex-wrap m-1">
                <div class="flex align-items-center justify-content-center  font-light text-white-alpha-80">Fuel
                    consumption:
                </div>
                <div class="flex align-items-center justify-content-center  font-light text-white-alpha-80">
                    <span class="m-1">doubled/normal</span>
                </div>
            </div>
            <p-divider class="m-0 p-divider-bg" />
            <div class="flex justify-content-between flex-wrap m-1">
                <div class="flex align-items-center justify-content-center  font-light text-white-alpha-80">Booster:
                </div>
                <div class="flex align-items-center justify-content-center  font-light text-white-alpha-80">
                    <span class="m-1">normal</span>
                </div>
            </div>
             <p-divider class="m-0 p-divider-bg" />
            <div class="flex justify-content-between flex-wrap m-1">
                <div class="flex align-items-center justify-content-center  font-light text-white-alpha-80">Movement speed:
                </div>
                <div class="flex align-items-center justify-content-center  font-light text-white-alpha-80">
                    <span class="m-1">normal</span>
                </div>
            </div>
        </div>
    </div>
</p-panel>